<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto 1</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
<div class="menu-principal">
    <h1>Proyecto 1</h1>
    <p>Carros de carreras y tipos de motores</p>
    <nav class="menu-lateral">
        <a href="/menu">Inicio</a>
        <a href="/carros/pagina">Carros TXT</a>
        <a href="/motores/pagina">Motores TXT</a>
        <a href="/carro-motor/pagina">Carros y Motores PostgreSQL</a>
        <a href="/configuracion/pagina">Configuraciones y Especificaciones PostgreSQL</a>
        <a href="/mongo/carros/pagina">Carros MongoDB</a>
        <a href="/mongo/motores/pagina">Motores MongoDB</a>
        <a href="/logout">Cerrar sesión</a>
    </nav>
</div>
</body>
</html>
